body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #020617, #0f172a);
  color: white;
}

/* NAV */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(12px);
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

/* SECTION */
.section {
  padding: 100px 20px;
  max-width: 1100px;
  margin: auto;
}

/* PROJECT LAYOUT */
.project {
  display: flex;
  gap: 40px;
  margin-top: 60px;
  align-items: center;
}

.project.reverse {
  flex-direction: row-reverse;
}

/* IMAGE */
.project-img {
  flex: 1;
  overflow: hidden;
  border-radius: 15px;
}

.project-img img {
  width: 100%;
  transition: 0.5s;
}

.project-img:hover img {
  transform: scale(1.1);
}

/* TEXT */
.project-text {
  flex: 1;
}

/* SCROLL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: 1s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}